@using Progress.Sitefinity.AspNetCore.Web
@inject Progress.Sitefinity.AspNetCore.Web.IRenderContext renderContext;

@model Progress.Sitefinity.AspNetCore.Widgets.Models.IntentDrivenContent.SectionViewModel

<div class="title-and-summary-section @Model.CssClass" data-dg-section="titleandsummary">
    @if (renderContext.IsEdit)
    {
        <h2>Title and Summary</h2>
    }
    else
    {
        <template id="dg-template-title-summary">
                    <div class="container">
            <div class="row pt-4 pb-4">
                <div class="col-md-12">
                    <h1 class="mb-2" data-dg-if="title">
                        <strong data-dg-text="title"></strong>
                    </h1>
                    <p data-dg-if="summary" data-dg-text="summary"></p>
                </div>
            </div>
        </template>
        <intent-section template-id="dg-template-title-summary">
            <div data-dg-skeleton class="skeleton-loader d-flex justify-content-center mb-4" style="display: none !important;">
                <svg width="808" height="199" viewBox="0 0 808 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="299" width="211" height="38" fill="#F0F0F0" />
                    <rect y="96" width="808" height="16" fill="#F0F0F0" />
                    <rect y="125" width="738" height="16" fill="#F0F0F0" />
                    <rect y="154" width="808" height="16" fill="#F0F0F0" />
                    <rect y="183" width="738" height="16" fill="#F0F0F0" />
                </svg>
            </div>
        </intent-section>
    }
</div>
