@using Progress.Sitefinity.AspNetCore.Web
@inject Progress.Sitefinity.AspNetCore.Web.IRenderContext renderContext;

@model Progress.Sitefinity.AspNetCore.Widgets.Models.IntentDrivenContent.SectionViewModel

<div class="content-list-section @Model.CssClass" data-dg-section="contentlist" data-dg-type="cards">
    @if (!renderContext.IsEdit)
    {
        <template id="dg-template-contentlist-cards">
            <div class="container mt-4 mb-4">
                <div class="row row-cols-1 row-cols-md-3" data-dg-each="root" data-dg-item="item">
                    <div class="col mb-4">
                            <div class="card">
                                <img class="card-img-top" data-dg-attr-src="item.image.url"
                                    data-dg-attr-alt="item.title" data-dg-attr-title="item.title" />
                                <div class="card-body">
                                    <h4 class="card-title" data-dg-text="item.title"></h4>
                                    <p class="card-text" data-dg-text="item.content"></p>
                                    <a data-dg-if="item.url" type="button" target="_blank" class="btn btn-outline-dark"
                                        data-dg-attr-href="item.url">Learn more</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </template>
        <intent-section template-id="dg-template-contentlist-cards">
            <div data-dg-skeleton class="skeleton-loader d-flex justify-content-center mb-4" style="display: none !important;">
                <svg width="915" height="111" viewBox="0 0 915 111" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="628" height="38" fill="#F0F0F0" />
                    <rect y="65" width="915" height="16" fill="#F0F0F0" />
                    <rect y="95" width="696" height="16" fill="#F0F0F0" />
                </svg>
            </div>
        </intent-section>
    }
    else
    {
        <h2>Content List Cards</h2>
    }
</div>
