@model Progress.Sitefinity.AspNetCore.Widgets.Models.ContentList.ContentDetailViewModel
@{
    string classAttr = string.IsNullOrEmpty(Model.CssClass) ? null : Model.CssClass;
}

<div class="@classAttr" @Html.BuildAttributes(Model.Attributes)>
    <h3>
        <span>@(Model.Item.GetValue<string>("Title"))</span>
    </h3>

    <div>
        @Html.FormatDate(Model.Item.GetValue<DateTime>("PublicationDate"), this.Context)
    </div>
</div>
